
body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h4, h5, h6 {
  font-family: "Montserrat-Bold";
  color: #0a1931;
}
h3{
  color: #0a1931;
}
p {
  color: #0a1931;
}

/* Headings */





/* Containers */

.container-fluid1{
  padding: 7% 15%;
}

/* Sections */

.colored-section1 {
  background-image: linear-gradient(to right, #504109, #ffaf04); 
  color: #fff;
}

.white-section {
  background-color: #fff;
}

#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}
.card-header{
  background-image: linear-gradient(to right, #504109, #ffaf04); 
}
.card{
  align-items: center;
}
#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
 
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #daae0b;
  margin-bottom: 1rem;
}

.icon:hover {
  background-image: linear-gradient(to right, #504109, #ffaf04); 
}

/* Testimonial Section */

#testimonials {
  background-image: linear-gradient(to right, #504109, #ffaf04); 
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
  color: whitesmoke;
}

.testimonial-image {
  width: 15%;
  border-radius: 95%;
  margin: 20px;
}


#press {

  padding-bottom: 3%;
  background-image: linear-gradient(to right, #504109, #ffaf04); 
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA Section */


/* Footer Section */


